*{
    margin: 0px;
    padding: 0px;
   }
.heading{
  border:solid rgba(165, 118, 118, 0.479);
  width: 300px;
  height: 300px;
  text-align: center;
  margin: auto ;
  margin-top: 15%;
  border-radius: 12px;
  box-shadow: 12px rgb(211, 142, 142);
  background-color: aqua;
  
}
.form input{
  text-align: center;
  margin-top: 100px;
  width: 120px;
  height: 30px;
}
.btn{
  padding: 10px;
  border-radius: 12px;
}
